.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#mycanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:green;
}


#hd3{
	display: inline-block;
	color:wheat;
	background-color: chocolate;
	font-family: fantasy;
}

